.button{
    position:relative;
    text-align: center;
    border-radius:8px;
    border-width:medium;
    
    border-color:rgb(254, 131, 49);
}
.button a{
    padding: 0px 10px;
    border-color:rgb(254, 131, 49);
    background-color:rgb(254, 131, 49) ;
    border-radius:8px;
    border-width:medium;
    font-size: 32px;
    color:white;
    height:36px;  
}
.button a:hover{
    background-color:rgb(197, 101, 38);
}

.index_container{
    background-color:whitesmoke; 
    height:auto;
    padding: 10px 0px 60px;
}
hr{
    border:solid 1px #e2e2e2;
    border-radius: 5px;
    margin:0 auto;
    width:90%;
}
.main_logo_area{
    margin: 30px 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo_text{
    color: rgb(254, 131, 49);
    font-size: 50px;  
}
.logo_subtext{
    color: rgb(70, 70, 70);
    font-size: 23px;  
}
.main_text_area{
    width:90%;
    height:auto;
    margin:0 auto 40px;
    background-color:white;
    border-radius:20px;
    position:relative;
    top:1.5%;
    text-align: center;
    border-bottom: solid 3px #bdc0c3;
    border-left:solid 2px #bdc0c3 ;
    border-radius: 9px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main_text{
    color: rgb(254, 131, 49);;
    text-align: center;
    border-radius:8px;
    border-width:medium;
    font-size: 36px;
}

.main_text_info{
    margin: 0 5%;
    color: rgb(70, 70, 70);
    text-align:left;
    left: 5%;
    border-radius:8px;
    border-width:medium;
    font-size: 24px;
}

.download_area{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.download_button{
    border-radius:8px;
    border-width:medium;
    
    flex-wrap: wrap;
    border-color:rgb(254, 131, 49);
}
.download_button a{
    margin: 0px;
    display: inline-block;
    width: 280px;
    padding: 0px 10px;
    border-color:rgb(254, 131, 49);
    background-color:rgb(254, 131, 49) ;
    border-radius:8px;
    border-width:medium;
    font-size: 32px;
    color:white;
}
.download_button a:hover{
    background-color:rgb(197, 101, 38);
}

@media screen and (max-width: 760px) {
    .download_area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}
@media screen and (max-width: 360px) {
    .download_button a{
        font-size: 22px;
        width: 90%;
        height: 54px;
    }
}